body {
  font-family: Poppins;
}

.gambar {
  justify-content: center;
  height: 90%;
  width: 98%;
  align-items: center;
  margin: 1rem 1rem;
  border-radius: 14px;
}

.card {
  display: flex;
  position: absolute;
  gap: 15px;
  top: 8%;
  right: 4%;
}

.login {
  background-color: white;
  cursor: pointer;
  font-size: medium;
  border-radius: 10px;
  padding: 20px 40px;
  border: 2px solid;
  border-color: black;
}

.get-started {
  background-color: black;
  cursor: pointer;
  font-size: medium;
  border-radius: 10px;
  padding: 20px 30px;
  border: 2px solid;
  border-color: white;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text {
  font-size: 7rem;
  width: 47%;
  margin-left: 10%;
}
 .right {
  font-size: 1.7rem;
  margin-bottom: 7%;
  width: 40%;
  font-family: Poppins;
  margin-right: 5%;
}

.cardd {
    display: flex;
    position: absolute;
    gap: 15px;
  }